body {
    font-family: Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.add-task {
    display: flex;
    margin-bottom: 20px;
}

#newTask {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex-grow: 1;
    transition: border-color 0.3s;
}

#newTask:hover {
    border-color: #333;
}

#addButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addButton:hover {
    background-color: #555;
}

.task-list {
    width: 40%;
}

.task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.task:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.checkbox {
    margin-right: 10px;
}

span {
    font-size: 18px;
    flex-grow: 1;
    color: #333;
}

.date-time {
    font-size: 12px;
    color: #888;
    margin-top: 4px;
}

button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d32f2f;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttons button {
    margin-right: 10px;
}
